{% load i18n %}
{% if app_list %}
    <div id="navigation" data-dojo-type="dijit.layout.AccordionContainer" data-dojo-props="region: 'left', minSize: 100, splitter: true" >
    {% for app in app_list %}
        <div data-dojo-type="dijit.layout.ContentPane" title="{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}">
            <ul class="plainlist">
            {% for model in app.models %}
                <li>
                {% if model.admin_url %}
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                {% else %}
                    {{ model.name }}
                {% endif %}

                {% if model.add_url %}
                    | <a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
{% endif %}