{% load i18n %}
{% if not is_popup and app_list  %}
    <div id="navigation" data-dojo-type="dijit.layout.AccordionContainer" data-dojo-props="region: 'left', minSize: 100, splitter: true" >
    {% for app in app_list %}
        <div data-dojo-type="dijit.layout.ContentPane" title="{% blocktrans with name=app.name %}{{ name }}{% endblocktrans %}"
                {% if app.name|lower == selected %} selected="true" {% endif %}>
            <ul class="plainlist">
            {% for model in app.models %}
                <li>
                {% if model.admin_url %}
                    <a href="{{ model.admin_url }}">{{ model.name }}</a>
                {% else %}
                    {{ model.name }}
                {% endif %}

                {% if model.add_url %}
                    | <a id="add_{{ model.name|slugify }}" href="{{ model.add_url }}" class="addlink" >&nbsp;</a>
                    <div class="dijitHidden">
                        <span data-dojo-type="dijit.Tooltip" data-dojo-props="connectId: 'add_{{ model.name|slugify }}'">
                        {% trans 'Add' %} {{ model.name }}
                        </span>
                    </div>
                {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>

{% endif %}