html, body {width:100%; height:100%; margin:0; padding:0; overflow:hidden;}
#container {height: 100%; width: 100%}
#headerPanel {height: 91px;padding: 0px;}
#centerPanel {padding:0px}
#header {height: 62px;padding:0px;width:auto}
#branding h1 {font-size: 1.8em; padding-top: 5px; font-weight:bold}
#toolbarPanel {
    height: 26px;
    padding: 0px;
    margin: 0px;
}
#toolbarPanel div.dijitContentPane {padding: 0px;}
#toolbarPanel div.breadcrumbs {padding-top: 8px; border: none; background: none}
#toolbarPanel.breadcrumbs {background-position: top left}
.login #wrapcontent{
    background: white;
    border: 1px solid #ccc;
    width: 28em;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
}
/*#logo{background: url(../img/senasa.png) 0 -10px no-repeat ; width: 179px; height: 62px;float:right}*/

.login #content-main{float: none}
#footer {padding:5px;font-size: 10px; color: #999; border-top: 1px solid #ccc}
#footerPanel {padding: 0px;}
#content-related {
    float:none;
    margin: 0px
}

#navigation {width: 220px;}
ul {padding: 0px;}
.dojoBlockOverlay {background: #fff url(../img/loading.gif) no-repeat center center;}
.calendarbox {z-index: 3}
.colMTab { padding: 0px; height:100% }
.colMTab .tab h2 {display: none}
.colMTab .module {border: none;}
.colMTab .dijitContentPane {
    padding: 0px;
    border: none;
}
.results {
    overflow-x: auto;
}

/* GRAPPELLI */
.grp-placeholder-related-fk {
    display: inline;
    margin: 0px;
    position: static;
}

/* Seccion de la pagina principal del mapa */
.hmap {background-color: rgb(78,139,184);height: 62px; position: absolute; right: 250px; top:0px; left:0px;}
#map { position:absolute; top:63px; bottom:0; left: 0px; right: 250px; z-index: 0 }
.contentmap {top:0px; right: 0px; bottom: 0px; width: 240px;padding: 5px; background-color: rgba(255,255,255,0.9);position:absolute; overflow-y: auto}
.contentmap h2 {color: #ccccff}
.contentmap ul li {list-style-type: none}
.mmg {
    width: 16px;
    height: 16px;
    z-index: 3;
    position: absolute;
    cursor: pointer;
    pointer-events:all;
    background-image: url(../img/markers.png);
}
.mmg-black { background-position: 0px 0px; }
.mmg-blue { background-position: -17px 0px; }
.mmg-green { background-position: -34px 0px; }
.mmg-purple { background-position: -51px 0px; }
.mmg-orange { background-position: -68px 0px; }
.mmg-red { background-position: -85px 0px; }
.mmg-white { background-position: -102px 0px; }
.mmg-yellow { background-position: -119px 0px; }
.mmg-brown { background-position: -136px 0px; }
.mmg-default { background-position: -85px 0px; }

/* Animation */

.map-tile-loaded {
    -webkit-animation-name:               fade-in;
    -moz-animation-name:                  fade-in;
    -ms-animation-name:                   fade-in;
    -o-animation-name:                    fade-in;
    -webkit-animation-timing-function:    linear;
    -moz-animation-timing-function:       linear;
    -ms-animation-timing-function:        linear;
    -o-animation-timing-function:         linear;
    -webkit-animation-duration:           .2s;
    -moz-animation-duration:              .2s;
    -ms-animation-duration:               .2s;
    -o-animation-duration:                .2s;
}

@-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-ms-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
@-o-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }