<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Obras</title>
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/gritter/css/jquery.gritter.css' %}" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/{{ theme }}/jquery-ui.custom.css" />
    <link rel="stylesheet" type="text/css" href="http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.css" />
</head>
<body>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/jquery.blockUI.js' %}" ></script>
    <script type="text/javascript" src="http://api.tiles.mapbox.com/mapbox.js/v0.6.6/mapbox.js" ></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}" ></script>
    <div class='hmap'>
        <div id="header"><div id="branding"><h1>Obras de Saneamiento</h1></div></div>
    </div>
    <div class="contentmap"><img src="{% static 'img/senasa.png'  %}"/>
      <div id="tabs">
        <ul>
            <li><a href="#tab-1">Filtros</a></li>
            <li><a href="#tab-2">Leyenda</a></li>
        </ul>
        <div id="tab-1">
            <h2>Departamento</h2>
            <select name="departamento">
                <option value='Ninguno'>Ninguno</option>
                {% for key,value in departamento %}
                <option value='{{ value|last }}'>({{ key }}) {{ value|first }}</option>
                {% endfor %}
            </select>
            <h2>Producto</h2>
            <ul>
            <li><input id="chkTodos" type="checkbox" value="Todos" name="prod_check" checked="checked"/>  Todos</li>
            {% for key, value in producto.items %}
                <li><input type="checkbox" name='prod_check' value="{{ value }}" checked="checked"/>  {{ value }}</li>
            {% endfor %}
            </ul>
            <h2>Proyecto</h2>
            <ul>
                <li><input id="chkTodosP" type="checkbox" value="Todos" name="proj_check" checked="checked"/>  Todos</li>
                {% for key, value in proyecto.items %}
                    <li><input type="checkbox" name='proj_check' value="{{ value }}" checked="checked"/>  {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="tab-2">
            <div><h2>Leyenda</h2></div>
        </div>
      </div>
    </div>
    <div id="map">

    </div>
    <script type="text/javascript">
        var ICONS = {{ iconos|safe }}
        $(document).ajaxStart($.blockUI({ message: '<img src="{% static 'img/loading.gif' %}" />&nbsp;<h2>Cargando Obras ...</h2>',
                                        css: {border: '0px', background:'#ffffff'}}))
                   .ajaxStop($.unblockUI);
        var main = Map('map',{
            api: "{{ MAP }}",
            center: {lat: {{ center_y }}, lon: {{ center_x }}, zoom: {{ zoom }} },
            zoomRange: [7, 14],
            features: ['zoomer',
                'interaction',
                'legend',
                'attribution',
                'zoombox']
        });
        main.layers({
            obras: {
                api: 'http://www.senasa.gov.py/wms/obras.jsonp'
            }
        });
        main.markers();
        $.each(ICONS, function(key, val) {
            var img = '<div class="mmg mmg-' + val + '"></div>';
            var lbl = '<label style="padding-left: 18px;">' + key + '</label>';
            $("#tab-2").append('<div style="padding-top: 10px">'+img + lbl +'</div>')
        });
        $(".legend-link").click(function (ev) {
            $(".map-legends").toggle("slide",{direction: "right"});
        });
        {% with pri=grupos.keys|first sec=grupos.keys|slice:":2" %}
        GRUPO = { {% for key,value in grupos.items %} {% if not forloop.first  %},{% endif %}"{{ key }}":["{{ value|first }}","{{ value|last }}"] {% endfor %} } ;
        {% endwith %}
        main.filters();
        main.selects();
        $( "#tabs" ).tabs();
    </script>
</body>